body {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
display: block;
margin: 50px auto;


  }

  .container .weatherapp {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    border-color: lightgray;
    max-width: 620px;
    padding: 10px;

  }
  .search-form {
      display: block;
      margin: 10px;
      text-align: center;
  }
  
  
    

  .col-3 {
      padding: 0px;
  }
  h1 {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
    text-transform: capitalize;
  }
  
  .dayTime, 
  .current-weather{
    margin-left: 30px;
    font-size: 20px;
  }
  
  .weather-icon {
    position: relative;
    left: 70px;
    bottom: 40px;
  }

  .current-temperature {
   text-align:right;
    font-size: 90px;
    margin-bottom: 0;
    line-height: 1;
    
  }

 .active {
  color: black;
  cursor: default;
}

.active:hover {
text-decoration: none;

}
  .unit {
    position: relative;
    top: -85px;
    right: -178px;
  }
 

  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
  }
  
 .wind-humidity {
   text-align: center;
   margin-top: 15px;
   margin-left: 15px;
   vertical-align:text-bottom;
 }
  
  
  
  .day {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin: 0px 5px;
    padding: 10px;
    --bs-gutter-x: 0rem;
  }
  
.weather-forecast {
  text-align: center;
  margin: 10px;
}

  .icon {
    font-size: 4em;
  }
  
  .open-source-code {
    text-align: center;
  }
